/*---------------------------------------------------------  Start Variables */
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  /* ^ Primary ^ */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  /* ^ Secondary ^ */
  --Font-Size: 18px;
}
/*-----------------------------------------------------------  End Variables */
/*------------------------------------------------------  Start Global Rules */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  /* 400 - 600 */
  display: grid;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*---------------------------------------------------------  Start Constants */
.container {
}
.main-header {
}
.main-follower {
}
.mini-h {
}
.mini-f {
}
.buttons {
}
.ios {
}
.mac {
}
/*-----------------------------------------------------------  End Constants */
/*--------------------------------------------------------  End Global Rules */
/*----------------------------------------------------------------Start Code */

/*------------------------------------------------------------------End Code */
